.moreBtn{
    padding: 1rem 2rem;
    border: 2px solid rgba(0, 0, 0,0.7);
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
}
.moreBtn a{
    color: grey;
}
.moreBtn:hover{
    cursor: pointer;
}

.endingContent{
    width: 820px;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: -1rem;
    color: orange;
}

#ContactColor{
    color: #4C4C4C;
}

#toTop{
    background-color: gray;
    padding: 1rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    z-index: 1000000;
}

.toTopArrow{
    display: flex;
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}
#toTop:hover{
    z-index: 1000000;
    color: #2d3436;
}

.contentDesc{
    font-size: 1.1rem;
    color: black;
    line-height: 30px;
    word-spacing: 3px;
}

.contentDesc a{
    color: black;
    text-decoration: underline;
}

.contentDescWithGray{
    font-size: 1.1rem;
    color: gray;
    line-height: 30px;
    word-spacing: 3px;
    text-align:justify ;
}

.make-money-online{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align:center;
    margin-top:2rem ;
    
}

.make-money-online a{
    color: gray;
    text-decoration: underline;
}

.make-money-online-blog-heading{
    color: black;
}
.linkColorYellow{
    color: #f39c12;
}
.make-money-online-author{
    background-color: rgba(236, 240, 241,0.5);
    height: auto;
}
.make-money-online-author p img{
    border-radius: 50%;
    position: relative;
    left: 2rem;
    top: 4vh;
}
.make-money-online-author-display{
    display: grid;
    grid-template-columns: 1fr , 3fr;
}
.make-money-online-author-display  img{
    transform: translate(3rem,8vh);
}
.make-money-online-author-display  p{
    padding: 0 5% 0 20%;
    transform: translateY(-5vh);
}

@media(max-width:770px){
    .make-money-online-author-display  img{
        transform: translate(0,0);
        width: 20%;
        margin-left: 40%;
        margin-bottom: 5vh;
    }
    .make-money-online-author-display  p{
        padding: 0 5% 0 20%;
        transform: translateY(0);
    }
    .make-money-online-author-display{
        display: block;
    }
}









@media(max-width:999px){
    #ContactColor{
        color: #ecf0f1;
        text-align: center;
    }
}


@media(max-width:990px){
    .amazonAff{
        display:none;
    }
}



